%h2.chat__content1__name
  = message.user.name
%p.chat__content1__date
  = message.created_at

- if message.body.present?
  .chat__content1__message
    = message.body
  .chat__content1__image
    = image_tag message.image.url if message.image.present?
