!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    = stylesheet_link_tag "application.scss"

  %body

  %header
    %p チャットグループが作成されました

  %nav
    %div.nav__user
      %p.name ryousuke_maehira
        =link_to 'https://qiita.com/knt45/items/c76b246ad448f3814ae4',class: "nav__user__link1", method: :get do
          =fa_icon "edit"
        =link_to 'https://qiita.com/knt45/items/c76b246ad448f3814ae4',class: "nav__user__link2", method: :get do
          =fa_icon "cog"


    %div.nav__group
      %h2 神
      %p sample

      %h2 aaaaaaa
      %p まだメッセージはありません

      %h2 sampleグループ
      %p まだメッセージはありません

  %div.chat
    %div.chat__header
      %h2 sampleグループ
      %p ryousuke maehira

    %div.chat__content
      %div.chat__content1
        %h2.name ryousuke maehira
        %p.date 2016/10/02 06:27:07
        %p.message なるほど

      %div.chat__content1
        %h2.name ryousuke maehira
        %p.date 2016/10/02 06:27:14
        %p.message 水色きれい

      %div.chat__content1
        %h2.name ryousuke maehira
        %p.date 2016/10/02 06:29:07
        %p.message command Enterで送信したい感ある

      %div.chat__content1
        %h2.name ryousuke maehira
        %p.date 2016/10/02 06:30:07
        %p.message お腹すいた


    %div.chat__fotter

