nav {
  width: 300px;
  height: 100%;
  float: left;
  .nav__user{
   height: 100px;
   background-color: #253141;
    .name {

    }
    .nav__user__link1{
      float:right;
    }
    .nav__user__link2{
      float: right;
    }
   }
  .nav__group{
    height:800px;
    background-color: #2f3e51;
      h2{
        color: #ffffff;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
      }
      p{
        color: #ffffff;
        font-size: 11px;
        padding-bottom: 20px;
      }
  }

}

