nav {
  width: 300px;
  float: left;
  .nav__user{
    height:15vh;
   //height: 100px;
   background-color: #253141;
    .ul__name {
      float:left;
      line-height: 100px;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
    }
    .ul__edit{
      float:right;
      line-height: 100px;
      padding-right: 20px;
      .ul__edit__link{
         color: #ffffff;
      }

    }
    .ul__cog{
      float: right;
      line-height: 100px;
      padding-right: 20px;
      .ul__cog__link{
        color: #ffffff;
      }
    }
   }

  .nav__group{
    height:85vh;
    //height:585px;
    //height: calc(100vh - 100px);
    background-color: #2f3e51;
      h2{
        color: #ffffff;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
      }
      p{
        color: #ffffff;
        font-size: 11px;
        padding-bottom: 20px;
      }
  }

}

